.pricing-card {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 20px 30px -5px #7f88b92c;
	font-family: "Manrope", sans-serif;
	padding: 45px;
	display: flex;
	flex-direction: column;
	width: 100%;

	.plan-details {
		display: flex;
		justify-content: center;

		.pricing {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.page-views {
				font-size: 14px;
				font-weight: 800;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #848ead;
			}

			.pricing-text {
				font-weight: 800;
				font-size: 40px;
				letter-spacing: -1px;
				color: #293356;
				display: inline-flex;
				align-items: center;

				span {
					font-size: 16px;
					font-weight: 600;
					color: #848ead;
					margin-left: 0.5rem;
					letter-spacing: 0.5px;
				}
			}
		}
	}

	.divider {
		width: calc(100% + 90px);
		transform: translateX(-45px);
		height: 1px;
		background-color: #ecf0fb;
		margin-bottom: 32px;
	}

	.start-trial {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		ul {
			list-style: none;
			li {
				font-weight: 600;
				color: #848ead;
				margin: 11px 0;

				svg {
					margin-right: 1rem;
				}
			}
		}

		.button {
			height: 40px;
			width: 170px;
			font-size: 12px;
			line-height: 12px;
			font-weight: 800;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
			color: #becdff;
			background-color: #293356;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 600px) {
	.pricing-card {
		position: relative;
		padding: 33px 24px;
		margin-top: 0;

		.divider {
			max-width: calc(100% + 48px);
			transform: translateX(-24px);
		}
	}

	.pricing {
		display: flex;
		flex-direction: column;
		.page-views {
			margin-bottom: 90px;
		}
	}
	.start-trial {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 12px;

		ul {
			margin-bottom: 1.5rem;
		}
	}
}
